<!-- 静的ファイルのURLを生成するstaticタグをロードする -->
{% load static %}
<!DOCTYPE html>
<!-- 言語指定をenからjaに変更 -->
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport"
        content="width=device-width,
                 initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- ページタイトル -->
  <title>{% block title %}{% endblock %}</title>
  <!-- ページタイトル横に表示されるアイコン -->
  <!-- staticでfavicon.icoのURLを生成する -->
  <link href={% static 'assets/favicon.ico' %} rel="icon" type="image/x-icon"  />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
          crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
        rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <!-- staticでstyles.cssのURLを生成する -->
  <link href={% static 'css/styles.css' %} rel="stylesheet" />
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light"
       id="mainNav">
    <div class="container px-4 px-lg-5">
      <!--
      ナビゲーションバー左上のアンカーテキストとhref属性の値を変更
      -->
      <a class="navbar-brand"
         href={% url 'report:index' %}>Reponote</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false"
              aria-label="Toggle navigation">Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto py-4 py-lg-0">
          <li class="nav-item">
            <!--
            ナビゲーションメニューの「HOME」のhref属性の値を変更
            -->
            <a class="nav-link px-lg-3 py-3 py-lg-4"
               href="{% url 'report:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <!--
            ナビゲーションメニューの「SCIENCE」のリンク先を
            名前付きURLパターンscience_listに設定する
            -->
            <a class="nav-link px-lg-3 py-3 py-lg-4"
               href="{% url 'report:science_list' %}">SCIENCE</a>
          </li>
          <li class="nav-item">
            <!--
            ナビゲーションメニューの「DAILYLIFFE」のリンク先を
            名前付きURLパターンdailylife_listに設定する
            -->
            <a class="nav-link px-lg-3 py-3 py-lg-4"
               href="{% url 'report:dailylife_list' %}">DAILYLIFFE</a>
          </li>
          <li class="nav-item">
            <!--
            ナビゲーションメニューの「MUSIC」のリンク先を
            名前付きURLパターンmusic_listに設定する
            -->
            <a class="nav-link px-lg-3 py-3 py-lg-4"
               href="{% url 'report:music_list' %}">MUSIC</a>
          </li>
          <li class="nav-item">
            <!--
            ナビゲーションメニューの「CONTACT」のリンク先を
            名前付きURLパターンcontactに設定する
            -->
            <a class="nav-link px-lg-3 py-3 py-lg-4"
               href="{% url 'report:contact' %}">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <!-- ページのヘッダーはベーステンプレートを使用するページで設定する -->
  {% block header %}{% endblock %}

  <!-- Main Content -->
  <!-- ページのコンテンツはベーステンプレートを使用するページで設定する -->
  {% block contents %}{% endblock %}

  <!-- Footer -->
  <footer>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <!-- Twitterアイコンの<a>タグのhref属性にURLを設定 -->
              <a href="https://twitter.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <!--  Facebookアイコンの<a>タグのhref属性にURLを設定 -->
              <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <!--  GitHubアイコンの<a>タグのhref属性にURLを設定 -->
              <a href="https://github.co.jp/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>

          <!-- 著作権の記載を独自のものに変更 -->
          <div class="small text-center text-muted fst-italic">
            Copyright &copy; reponote 2021</div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
  </script>

  <!-- Custom scripts for this template -->
  <!-- staticでjs/scripts.jsのURLを生成する -->
  <script src={% static 'js/scripts.js' %}></script>
</body>

</html>
