<!-- ベーステンプレートを適用する -->
{% extends 'base.html' %}
<!--
 静的ファイルのURLを生成するstaticは
 個々のページで読み込むことが必要
 -->
{% load static %}
<!-- ヘッダー情報のページタイトルは
  ベーステンプレートを利用するページで設定する -->
{% block title %}Reponote{% endblock %}

  <!-- Navigation -->
  <!-- ナビゲーションはベーステンプレートで設定済みなので削除 -->

  <!-- Page Header -->
  {% block header %}
  <!-- ページのヘッダーを設定(ドキュメントの構造に合わせてインデント) -->
  <!-- ヘッダーの背景イメージのリンク先url()の引数をstaticタグに書き換え -->
  <header class="masthead"
          style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <!-- ヘッダーの大見出し(タイトル)を変更 -->
            <h1>Reponote</h1>
            <!-- サブタイトルを変更 -->
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}

  <!-- Main Content -->
  {% block contents %}
  <!-- ページのコンテンツを設定(ドキュメントの構造に合わせてインデント) -->
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!--
         レコードが格納されたorderby_recordsから
         レコードを1行ずつrecordに取り出す
        -->
        {% for record in orderby_records %}
        <div class="post-preview">
          <!--
          urlでURLパターン'report-detail/<int:pk>/'を生成し、
          詳細ページへのリンクを設定
          -->
          <a href="{% url 'report:report_detail' record.pk %}">
            <!-- 記事のタイトル -->
            <h2 class="post-title">
              <!-- titleフィールドを出力 -->
              {{record.title}}
            </h2>
            <!-- 投稿記事の本文 -->
            <h3 class="post-subtitle">
              <!-- サブタイトルの文字サイズを16ptにする -->
              <span style="font-size : 16pt">
                <!--
                 contentフィールドを出力
                 truncatecharsで出力する文字数を50以内に制限
                -->
                {{record.content|truncatechars:50}}
              </span>
            </h3>
          </a>
          <!-- 投稿日時とカテゴリ -->
          <p class="post-meta">
            <!-- ページの最上部にリンクする -->
            <a href="#">Reponote</a>
            <!-- posted_atフィールドを出力 -->
            {{record.posted_at}}に投稿／カテゴリ:
            <!-- categoryフィールドを出力-->
            {{record.category}}</p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}
        <!-- forによる繰り返しはここまで -->

        <!-- デフォルトで設定されている
        <div class="post-preview">～</div><hr>
        のブロック3個を削除
        -->

        <!-- Pager -->
        <!-- ページネーションの組み込み -->
        {% include "pagination.html" %}
      </div>
    </div>
  </div>
  <!-- Divider-->
  <hr class="my-4" />
  {% endblock %}

  <!-- Footer -->
  <!-- フッター以下はベーステンプレートで設定済みなので削除 -->
